@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.menu-principal {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 1em;
}

.nav-item, .nav-link {
    color: white;
    font-weight: bold;
    font-size: small;
}

.nav-item:hover {
    background: #47e84f;
    color: #0693e3;
}

.bi-search {
    color: white;
}

.card-img-top {
	align-self: center;
	margin-top: 1%;
	width: 99%;
	max-height: 12em;
	
}

a {
    text-decoration: none;
}

.card:hover {
	transform: scale(1.2);
	background-color: #47e84f;
	color: white;

}

.legal {
    font-size: 10px;
}

.decadasText {
    color:blue;
    background-color: green;
}

.dark {
    position: fixed;
    top: 2;
    width: 100%;
    z-index: 2;
    margin-bottom: 1em;
    padding-left: 90%;
}

.diaBtn {
    border: none;
    background-color: white;
    color: black
}

.nocheBtn {
    border: none;
    background-color: black;
    color: white;
}

