@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.nav-item, .nav-link {
    color: white;
    font-weight: bold;
}

.nav-item:hover {
    background: #47e84f;
    color: #0693e3;
}

.bi-search {
    color: white;
}